body{
    background-color:#2E86C1;;
}
.card-body{
    background-color:#AEB6BF"  ;
}

.card-header{
    background-color:#AEB6BF" ;
}
.botones{
    margin-top: 20px;
}
img{
    margin-top: 20px;
}
.btn{
    color: black;
    background-color:#566573  ;
}
