body{
    background-color:#F0F3F4;
}
.card-body{
    background-color:#808B96 ;
}

.card-header{
    background-color:#808B96 ;
}
.botones{
    margin-top: 20px;
}
img{
    margin-top: 20px;
}
.btn{
    color: black;
    background-color:#2980B9 ;
}